{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="first_name">First Name</label>
    <input name="first_name" id="first_name" required>

    <label for="last_name">Laste Name</label>
    <input name="last_name" id="last_name" required>

    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="position">Position</label>
    <input name="position" id="position" required>

    <label for="dob">Date of Birth</label>
    <input name="dob" id="dob" required>

    <label for="start_date">Start Date</label>
    <input name="start_date" id="start_date" required>

    <label for="email">Email</label>
    <input name="email" id="email" required>

    <label for="ssn">SSN</label>
    <input name="ssn" id="ssn" required>

    <label for="acc_num">Account Number</label>
    <input name="acc_num" id="acc_num" required>

    <label for="route_num">Route Number</label>
    <input name="route_num" id="route_num" required>

    <input type="submit" value="Register">
  </form>
{% endblock %}